.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
desktop.ini

analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*
data/
docs/site_libs/
.PowerFolder/
manuscript/
output/
docs/
